<div class="row">
  <span
    ><img
      src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p9.png?raw=true"
      alt=""
  /></span>
  <p style="font-weight: 500; color: grey">&nbsp;Dashboard</p>
  <span style="padding-left: 25%"
    ><img
      src="https://raw.githubusercontent.com/ahadm26/dashboard/master/src/assets/resources/p10.png"
      alt="" /></span
  ><span style="padding-left: 25%"
    ><img
      src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p11.png?raw=true"
      style="border-radius: 25px"
      alt="" /></span
  ><span>&nbsp;&nbsp;Subhash Manual</span>
</div>
