<div style="height: 100vh; width: 15vw">
  <ul class="nav flex-column d-none d-sm-block">
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p2.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p3.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;E-Wallets
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p4.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;Affiliates
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p5.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;Events
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://raw.githubusercontent.com/ahadm26/dashboard/master/src/assets/resources/p6.png"
          alt=""
          style="border-radius: 25px"
        />&nbsp;Payments
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p7.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;Manage my business
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p8.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;Settings
      </a>
    </li>
  </ul>
  <ul class="nav flex-column d-block d-sm-none">
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p2.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p3.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p4.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p5.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://raw.githubusercontent.com/ahadm26/dashboard/master/src/assets/resources/p6.png"
          alt=""
          style="border-radius: 25px"
        />&nbsp;
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p7.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p8.png?raw=true"
          alt=""
          style="border-radius: 25px"
        />&nbsp;
      </a>
    </li>
  </ul>
</div>
