.nav-item {
  padding-bottom: 20%;
}
.nav-link {
  color: grey;
}
.nav-link:hover {
  background: blue;
  color: white;
  font-weight: 600;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 10%;
}
