<div
  class="container"
  style="background: rgb(245, 241, 241); height: 100rem; width: 85vw"
>
  <br />
  <div class="flex-spacer">
    <p style="font-weight: 400">Portfolio</p>
    <div class="refer">
      <span>Refer A Friend&nbsp;</span
      ><img
        src="../../assets//resources/p15.png"
        alt=""
        style="border-radius: 20px"
      />
    </div>
  </div>
  <br />
  <div class="row R1" style="border-radius: 20px">
    <div class="col-sm-7 r11">
      <br />
      <div class="row">
        <div class="col-sm-7" style="text-align: center">
          <br /><br />
          <p>Your Portfolio value</p>
          <h6>0.00 BTC</h6>
          <canvas id="canvas"></canvas>
        </div>
        <div
          class="col-sm-4"
          style="background: rgb(245, 241, 241); border-radius: 20px"
        >
          <br /><br />
          <div style="width: 100%">
            <canvas id="doughnut"></canvas>
          </div>
          <br />
          <div style="text-align: center">
            <p style="font-weight: 500">CCRB Mining</p>
            <p style="font-weight: 500">Overall Completion</p>
          </div>
          <div style="text-align: center">
            <p style="font-size: x-small; font-weight: 400; color: grey">
              Harshes Mined <span>&nbsp;&nbsp;CCRB Mined</span>
            </p>
            <p style="font-weight: 500">
              985K <span>&nbsp;&nbsp;&nbsp;$2.45</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1" style="background: rgb(245, 241, 241)"></div>
    <div class="col-sm-4 r12">
      <br />
      <div style="padding-left: 14%">
        <img
          src="https://github.com/ahadm26/dashboard/blob/master/src/assets/resources/p1.png?raw=true"
          alt="asd"
          style="width: 80%"
        />
      </div>
      <br />
      <div style="padding-left: 10%">
        <p>
          Membership:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="font-weight: 500; color: blue">Prime Plus</span>
        </p>
        <p>
          Trading Account:&nbsp;&nbsp;&nbsp;
          <span style="font-weight: 500">266.7 CCRB</span>
        </p>
        <p>
          Mining Balance:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="font-weight: 500">266.7 CCRB</span>
        </p>
        <p>
          Mining Pending:&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="font-weight: 500">266.7 CCRB</span>
        </p>
        <p>
          Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="font-weight: 500">266.7 CCRB</span>
        </p>
      </div>
      <button
        style="margin-left: 40%; margin-bottom: 5px; border-radius: 10px"
        class="btn btn-primary"
      >
        &nbsp;&nbsp;Upgrad&nbsp;&nbsp;
      </button>
    </div>
  </div>
  <br />
  <div class="row" style="margin-left: 5px">
    <div class="col-sm-2 box">
      <p>
        <img
          src="../../assets//resources/p12.png"
          alt=""
          style="border-radius: 20px"
        /><span style="font-size: 12px">&nbsp;cyptoCarbon(CCRB)</span>
      </p>
      <p style="font-weight: 500">266.7 CCRB</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2 box">
      <p>
        <img
          src="../../../docs/assets/resources/p13.png"
          alt=""
          style="border-radius: 20px"
        /><span style="font-size: 12px">&nbsp;cyptoCarbon(CCRB)</span>
      </p>
      <p style="font-weight: 500">266.7 CCRB</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2 box">
      <p>
        <img
          src="../../../docs/assets//resources/p14.png"
          alt=""
          style="border-radius: 20px"
        /><span style="font-size: 12px">&nbsp;cyptoCarbon(CCRB)</span>
      </p>
      <p style="font-weight: 500">266.7 CCRB</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2 box">
      <p>
        <img
          src="../../assets//resources/p14.png"
          alt=""
          style="border-radius: 20px"
        /><span style="font-size: 12px">&nbsp;cyptoCarbon(CCRB)</span>
      </p>
      <p style="font-weight: 500">266.7 CCRB</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
